main {
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 4rem;
}
.input_section {
  gap: 1rem;
  margin-bottom: 3rem;

  .number_input {
    width: 20rem;
  }
  .btn {
    color: white;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-size: var(--size-base);
  }
  .btn:hover {
    outline: solid black 1px;
  }
}
.visual_section {
  .bucket_container {
    padding: 0 3rem;
    border-right: solid black 2px;
    .bucket {
      border-right: solid black 3px;
      border-bottom: solid black 3px;
      border-left: solid black 3px;
      width: 12rem;
      height: 25rem;
    }
  }
  .stat_container {
    padding: 2rem;
    width: 15rem;

    .stat {
      display: flex;
      justify-content: space-between;

      .stat_text {
        margin-bottom: 2rem;
      }
      .stat_number {
        background-color: green;
        height: 2.25rem;
        width: 5rem;
        border-radius: 5px;
      }
    }
    .message_box {
      background-color: antiquewhite;
      width: 100%;
      height: 10rem;
      h3 {
        text-align: center;
      }
    }
  }
}
